@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  font-family: 'Josefin Sans',sans-serif;
  
}

body{
  overflow-y: scroll;
  overflow-x: hidden; 
}

body::-webkit-scrollbar {
  display: none;
}

.map{
  height: 130%;
  width: 700px;
  box-sizing: border-box;
  border: 2px solid #feca47;
  border-radius: 10px;
  }
  
  .pu-text{
    width: 500px;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    border-bottom: 2px 2px 2px black ;
}

.container .sections {
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
}

  .logo{
    cursor: pointer;
    font-family: 'Josefin Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #feca47;
    text-shadow: 1px 1px 1px #535050;
    font-size: 48px;
    line-height: 48px;
}



.address-form{
  max-width: 450px;
  width: 500%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 0px 4px #dedede;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  
}

.title{
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1a202c;
}

.input {
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 0px;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px #cbd5e0;
}

.input:valid {
  border: 1px solid green;
}

.input:invalid {
  border: 1px solid rgba(14, 14, 14, 0.205);
}

.submit-btn {
  background: #feca47;
  color: white;
  font-family: 'Josefin Sans',sans-serif;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  text-align: center;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #feca47;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.submit-btn .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #feca47;
  right: 0.3em;
  transition: all 0.3s;
}

.submit-btn:hover .icon {
  width: calc(100% - 0.6em);
}

.submit-btn .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #feca47;
}

.submit-btn:hover .icon svg {
  transform: translateX(0.1em);
}

.submit-btn:active .icon {
  transform: scale(0.95);
}

