<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Libér.com</title>
        <link rel="stylesheet" href="/css/aboutus.css">
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>

        
    </head>
    <body>
        <header>
            <div class="logo">Libér</div>
            <nav>
                <ul class="navlinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Our Policy</a></li>
                    <li><a href="aboutus.ejs">About Us</a></li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="members">
                <div class="mohak">
                    <div class="card">
                        <div class="card-info">
                        <div class="card-avatar"></div>
                        <div class="card-title">Mohak Khetan</div>
                        <div class="card-subtitle">Backend Developer</div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="manasi">
                    <div class="card">
                        <div class="card-info">
                        <div class="card-avatar"></div>
                        <div class="card-title">Manasi Kothawade</div>
                        <div class="card-subtitle">Frontend Developer</div>
                        </div>
                    </div>
                    
                </div>

                <div class="ahaan">
                    <div class="card">
                        <div class="card-info">
                        <div class="card-avatar"></div>
                        <div class="card-title">Ahaan Kotian</div>
                        <div class="card-subtitle">Backend Developer</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>