@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  font-family: 'Josefin Sans',sans-serif;
  
}



.navlinks{
  list-style: none;
}

.navlinks li{
  display: inline-block;
  padding: 0px 50px;
}

.navlinks li a{
  text-decoration: none;
  color: black;
  transition: all 0s ease 0.2s;
}

.navlinks li a:hover{
  color: #feca47;
}

body{
  overflow-y: scroll;
  overflow-x: hidden; 
}

body::-webkit-scrollbar {
  display: none;
}

.map{
  height: 400px;
  width: 700px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
  }
  
  .pu-text{
    width: 500px;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    border-bottom: 2px 2px 2px black ;
}

.logo{
    cursor: pointer;
    font-family: 'Josefin Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #feca47;
    text-shadow: 1px 1px 1px #535050;
    font-size: 48px;
    line-height: 48px;
}

.container .sections{
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
  }

  .leftsec{
    max-width: 450px;
    height: 400px;
    width: 500%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
  background: #ffffff;
  box-shadow:  6px 6px 23px #c4c4c4,
               -6px -6px 23px #ffffff;
    display: flex;
    flex-direction: column;
  }


  .leftsec .sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom:black 1px solid ;
  }

  .leftsec .sec1 p{
    font-weight: 800;
    font-size: larger;
    padding-bottom: 8px;
  }

  .l2{
  padding-top: 8px;
  color: #535050;
  font-size: smaller;

  }

  .timebtn {
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
   }

   .leftsec .sec2{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom:black 1px solid ;
  }

  .sec2 .driverdeets{
    text-align: right;

  }

  .sec2 .driverdeets .l2{
    font-size: larger;
    font-weight: 700;
    padding-top: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sec2 .driverdeets .l3{
    padding-bottom: 5px;
  }

  .sec3 .pu1{
    display:flex;
    align-items: start;
    flex-direction: row;
    column-gap: 50px;
    padding-top: 8px;
  }

  .sec3 .do1{
    display:flex;
    align-items: start;
    flex-direction: row;
    column-gap: 50px;
    padding-top: 8px;
  }

  .sec3 .pay1{
    display:flex;
    align-items: start;
    flex-direction: row;
    column-gap: 50px;
    padding-top: 8px;
  }

  .noselect{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }

   .cancel{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   }